<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulletFire11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>bulletFire12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{74,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>bulletFire13.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,511},{74,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,39}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>bulletFire14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,555},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>bulletFire21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{217,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,86}}</string>
                <key>sourceSize</key>
                <string>{217,86}</string>
            </dict>
            <key>bulletFire22.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,206},{218,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,88}}</string>
                <key>sourceSize</key>
                <string>{218,88}</string>
            </dict>
            <key>bulletFire23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{221,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,88}}</string>
                <key>sourceSize</key>
                <string>{221,88}</string>
            </dict>
            <key>bulletFire24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{218,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,88}}</string>
                <key>sourceSize</key>
                <string>{218,88}</string>
            </dict>
            <key>bulletIce11.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,387},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>bulletIce12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,402},{147,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,87}}</string>
                <key>sourceSize</key>
                <string>{147,87}</string>
            </dict>
            <key>bulletIce13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>bulletIce14.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,296},{148,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,89}}</string>
                <key>sourceSize</key>
                <string>{148,89}</string>
            </dict>
            <key>bulletIce15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{147,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,90}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>bulletIce21.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,373},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>bulletIce22.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,206},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>bulletIce23.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,477},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,57}}</string>
                <key>sourceSize</key>
                <string>{136,57}</string>
            </dict>
            <key>bulletIce24.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,344},{137,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,56}}</string>
                <key>sourceSize</key>
                <string>{137,56}</string>
            </dict>
            <key>bulletIce31.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,99}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>bulletIce32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,101}}</string>
                <key>sourceSize</key>
                <string>{241,101}</string>
            </dict>
            <key>bulletIce33.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,103},{239,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,101}}</string>
                <key>sourceSize</key>
                <string>{239,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulletImg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd938d6129caa6e51259c88a53e5db3:1/1$</string>
            <key>textureFileName</key>
            <string>bulletImg.png</string>
        </dict>
    </dict>
</plist>
