<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fireFruit-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{64,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fireFruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,138},{60,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fruit1-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,68},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fruit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,202},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fruit2-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fruit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,196},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fruit3-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>fruit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,68},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>iceFruit-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>iceFruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,134},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>lightFruit-Highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>lightFruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,138},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DemonFruit.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1ad394fa091d48e51d50372d29705b1:1/1$</string>
            <key>textureFileName</key>
            <string>DemonFruit.png</string>
        </dict>
    </dict>
</plist>
