<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bigMagicLight1.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,642},{260,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,200}}</string>
			<key>sourceSize</key>
			<string>{260,200}</string>
		</dict>
		<key>bigMagicLight2.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,255},{236,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,201}}</string>
			<key>sourceSize</key>
			<string>{236,201}</string>
		</dict>
		<key>bigMagicLight3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,642},{311,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{311,286}}</string>
			<key>sourceSize</key>
			<string>{311,286}</string>
		</dict>
		<key>bigMagicLight4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,334},{349,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{349,306}}</string>
			<key>sourceSize</key>
			<string>{349,306}</string>
		</dict>
		<key>bigMagicLight5.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{385,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{385,338}}</string>
			<key>sourceSize</key>
			<string>{385,338}</string>
		</dict>
		<key>bigMagicLight6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{402,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,330}}</string>
			<key>sourceSize</key>
			<string>{402,330}</string>
		</dict>
		<key>bigMagicLight7.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,2},{251,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,214}}</string>
			<key>sourceSize</key>
			<string>{251,214}</string>
		</dict>
		<key>bigMagicLight8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,955},{60,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{60,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explode8.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:563d87b0461acc82505af072acd7b27a:1/1$</string>
		<key>textureFileName</key>
		<string>explode8.png</string>
	</dict>
</dict>
</plist>
