<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bigMagicFire1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{62,326}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,326}}</string>
			<key>sourceSize</key>
			<string>{62,326}</string>
		</dict>
		<key>bigMagicFire10.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,2},{267,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,226}}</string>
			<key>sourceSize</key>
			<string>{267,226}</string>
		</dict>
		<key>bigMagicFire11.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,249},{192,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,211}}</string>
			<key>sourceSize</key>
			<string>{192,211}</string>
		</dict>
		<key>bigMagicFire12.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,2},{197,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,210}}</string>
			<key>sourceSize</key>
			<string>{197,210}</string>
		</dict>
		<key>bigMagicFire13.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,821},{197,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,210}}</string>
			<key>sourceSize</key>
			<string>{197,210}</string>
		</dict>
		<key>bigMagicFire14.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,821},{197,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,200}}</string>
			<key>sourceSize</key>
			<string>{197,200}</string>
		</dict>
		<key>bigMagicFire2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,612},{83,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,277}}</string>
			<key>sourceSize</key>
			<string>{83,277}</string>
		</dict>
		<key>bigMagicFire3.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,214},{159,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,209}}</string>
			<key>sourceSize</key>
			<string>{159,209}</string>
		</dict>
		<key>bigMagicFire4.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,2},{257,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,245}}</string>
			<key>sourceSize</key>
			<string>{257,245}</string>
		</dict>
		<key>bigMagicFire5.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,556},{263,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,241}}</string>
			<key>sourceSize</key>
			<string>{263,241}</string>
		</dict>
		<key>bigMagicFire6.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,283},{271,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{271,242}}</string>
			<key>sourceSize</key>
			<string>{271,242}</string>
		</dict>
		<key>bigMagicFire7.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,612},{276,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,241}}</string>
			<key>sourceSize</key>
			<string>{276,241}</string>
		</dict>
		<key>bigMagicFire8.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,2},{279,239}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,239}}</string>
			<key>sourceSize</key>
			<string>{279,239}</string>
		</dict>
		<key>bigMagicFire9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,330},{280,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,235}}</string>
			<key>sourceSize</key>
			<string>{280,235}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explode6.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:954343254d697f6a3845683e227a5043:1/1$</string>
		<key>textureFileName</key>
		<string>explode6.png</string>
	</dict>
</dict>
</plist>
