<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Explode8Png</key>
	<string>explode8.png</string>
	<key>Explode8Plist</key>
	<string>explode8.plist</string>
	<key>Explode6Png</key>
	<string>explode6.png</string>
	<key>Explode6Plist</key>
	<string>explode6.plist</string>
	<key>Explode7Plist</key>
	<string>explode7.plist</string>
	<key>Explode7Png</key>
	<string>explode7.png</string>
	<key>SkillButtonPlist</key>
	<string>SkillButton.plist</string>
	<key>SkillButtonPng</key>
	<string>SkillButton.png</string>
	<key>Monster8Plist</key>
	<string>monster8.plist</string>
	<key>Monster8Png</key>
	<string>monster8.png</string>
	<key>Monster7Plist</key>
	<string>monster7.plist</string>
	<key>Monster7Png</key>
	<string>monster7.png</string>
	<key>Monster6Plist</key>
	<string>monster6.plist</string>
	<key>Monster6Png</key>
	<string>monster6.png</string>
	<key>Monster5Plist</key>
	<string>monster5.plist</string>
	<key>Monster5Png</key>
	<string>monster5.png</string>
	<key>Monster4Plist</key>
	<string>monster4.plist</string>
	<key>Monster4Png</key>
	<string>monster4.png</string>
	<key>Monster3Plist</key>
	<string>monster3.plist</string>
	<key>Monster3Png</key>
	<string>monster3.png</string>
	<key>Monster2Plist</key>
	<string>monster2.plist</string>
	<key>Monster2Png</key>
	<string>monster2.png</string>
	<key>Monster1Plist</key>
	<string>monster1.plist</string>
	<key>Monster1Png</key>
	<string>monster1.png</string>
	<key>Explode5Plist</key>
	<string>explode5.plist</string>
	<key>Explode5Png</key>
	<string>explode5.png</string>
	<key>Explode4Plist</key>
	<string>explode4.plist</string>
	<key>Explode4Png</key>
	<string>explode4.png</string>
	<key>Explode3Plist</key>
	<string>explode3.plist</string>
	<key>Explode3Png</key>
	<string>explode3.png</string>
	<key>Explode2Plist</key>
	<string>explode2.plist</string>
	<key>Explode2Png</key>
	<string>explode2.png</string>
	<key>Explode1Plist</key>
	<string>explode1.plist</string>
	<key>Explode1Png</key>
	<string>explode1.png</string>
	<key>BarsPlist</key>
	<string>bars.plist</string>
	<key>BarsPng</key>
	<string>bars.png</string>
	<key>Item2Plist</key>
	<string>Items02-hd.plist</string>
	<key>Item2Png</key>
	<string>Items02-hd.png</string>
	<key>BulletPlist</key>
	<string>bulletImg.plist</string>
	<key>BulletPng</key>
	<string>bulletImg.png</string>
	<key>StartPng</key>
	<string>stars.png</string>
	<key>StarPlist</key>
	<string>stars.plist</string>
	<key>DFPlist</key>
	<string>DemonFruit.plist</string>
	<key>DFPng</key>
	<string>DemonFruit.png</string>
	<key>LoadingPlist</key>
	<string>loadingSheet-hd.plist</string>
	<key>LoadingPng</key>
	<string>loadingSheet-hd.png</string>
	<key>LoadingSceneBg</key>
	<string>LoadingBg.png</string>
	<key>GameSceneBg</key>
	<string>gameBg.png</string>
</dict>
</plist>
