<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_2_e_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,276}}</string>
                <key>offset</key>
                <string>{36,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,58},{270,276}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>0_2_e_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{230,300}}</string>
                <key>offset</key>
                <string>{-34,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{230,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>0_2_e_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{214,306}}</string>
                <key>offset</key>
                <string>{-64,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{214,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_1_n_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,838},{206,150}}</string>
                <key>offset</key>
                <string>{37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,127},{206,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_1_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,538},{236,156}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,128},{236,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_1_n_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{226,162}}</string>
                <key>offset</key>
                <string>{-37,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,125},{226,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>6_2_n_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,304},{264,232}}</string>
                <key>offset</key>
                <string>{42,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,80},{264,232}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>6_2_n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,696},{140,248}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,87},{140,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>6_2_n_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{154,230}}</string>
                <key>offset</key>
                <string>{-51,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,100},{154,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DemonEnemy.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1250288c07d008e50243da2c9a063a9e:1/1$</string>
            <key>textureFileName</key>
            <string>DemonEnemy.png</string>
        </dict>
    </dict>
</plist>
