<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BossHP01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1308,447},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1258,475},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1258,447},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,441},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048,484},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP06.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,484},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP07.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,323},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP08.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,324},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP09.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,461},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>BossHP10.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,461},{48,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{48,26}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>MenuBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{602,50}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{602,50}}</string>
			<key>sourceSize</key>
			<string>{624,52}</string>
		</dict>
		<key>MenuCenter_01_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,235},{155,34}}</string>
			<key>offset</key>
			<string>{-6,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,4},{155,34}}</string>
			<key>sourceSize</key>
			<string>{195,52}</string>
		</dict>
		<key>MenuCenter_02_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,231},{91,28}}</string>
			<key>offset</key>
			<string>{-4,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,7},{91,28}}</string>
			<key>sourceSize</key>
			<string>{195,52}</string>
		</dict>
		<key>MonsterHP01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,495},{34,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,8}}</string>
			<key>sourceSize</key>
			<string>{34,8}</string>
		</dict>
		<key>MonsterHP02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,505},{31,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,5}}</string>
			<key>sourceSize</key>
			<string>{31,5}</string>
		</dict>
		<key>air01.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,288},{44,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,44},{44,44}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air02.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,221},{66,56}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,35},{66,56}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air03.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,311},{76,70}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,28},{76,70}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air04.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,231},{98,82}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{98,82}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air05.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,398},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{100,100}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air11.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,257},{68,54}}</string>
			<key>offset</key>
			<string>{2,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,55},{68,54}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>air12.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,398},{108,88}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,40},{108,88}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>air13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,2},{118,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,33},{118,110}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>air14.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,30},{150,132}}</string>
			<key>offset</key>
			<string>{2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,16},{150,132}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>air15.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,54},{172,160}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{172,160}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>air21.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,368},{71,71}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,77},{71,71}}</string>
			<key>sourceSize</key>
			<string>{227,227}</string>
		</dict>
		<key>air22.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,223},{109,93}}</string>
			<key>offset</key>
			<string>{4,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,62},{109,93}}</string>
			<key>sourceSize</key>
			<string>{227,227}</string>
		</dict>
		<key>air23.png</key>
		<dict>
			<key>frame</key>
			<string>{{1103,2},{127,115}}</string>
			<key>offset</key>
			<string>{3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,52},{127,115}}</string>
			<key>sourceSize</key>
			<string>{227,227}</string>
		</dict>
		<key>air24.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,54},{165,139}}</string>
			<key>offset</key>
			<string>{3,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,39},{165,139}}</string>
			<key>sourceSize</key>
			<string>{227,227}</string>
		</dict>
		<key>air25.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,54},{167,167}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,29},{167,167}}</string>
			<key>sourceSize</key>
			<string>{227,227}</string>
		</dict>
		<key>air26.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,54},{201,179}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,23},{201,179}}</string>
			<key>sourceSize</key>
			<string>{227,227}</string>
		</dict>
		<key>air31.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,389},{46,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,95}}</string>
			<key>sourceSize</key>
			<string>{46,95}</string>
		</dict>
		<key>air32.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,441},{76,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,33},{76,64}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air33.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,223},{86,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,32},{86,66}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air34.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,294},{96,72}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,29},{96,72}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>air35.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,318},{122,78}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,27},{122,78}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1336,440},{25,34}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{25,34}}</string>
			<key>sourceSize</key>
			<string>{25,36}</string>
		</dict>
		<key>countdown_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,257},{64,76}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,27},{64,76}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>countdown_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,182},{62,76}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,25},{62,76}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>countdown_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,186},{48,76}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,26},{48,76}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>countdown_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,2},{128,126}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{128,126}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>countdown_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,216},{76,114}}</string>
			<key>offset</key>
			<string>{-25,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,14},{76,114}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>countdown_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,30},{130,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,130}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>finalwave.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{258,114}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{258,114}}</string>
			<key>sourceSize</key>
			<string>{260,130}</string>
		</dict>
		<key>forbidden.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,315},{36,36}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{36,36}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>honor_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,130},{130,50}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{130,50}}</string>
			<key>sourceSize</key>
			<string>{130,52}</string>
		</dict>
		<key>honor_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,287},{33,37}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{33,37}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>honor_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,246},{33,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{33,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>honor_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,393},{35,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{35,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>mcm01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1314,354},{46,44}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,29},{46,44}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
		<key>mcm02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1178,186},{62,58}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,22},{62,58}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
		<key>menu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1142,473},{37,38}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{37,38}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>menu02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1102,473},{37,38}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{37,38}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>menublood_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,2},{342,26}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{342,26}}</string>
			<key>sourceSize</key>
			<string>{364,52}</string>
		</dict>
		<key>menublood_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,162},{130,26}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{130,26}}</string>
			<key>sourceSize</key>
			<string>{130,52}</string>
		</dict>
		<key>money02.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,435},{64,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{64,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money05.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,257},{74,31}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{74,31}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money1000.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,221},{120,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{120,65}}</string>
			<key>sourceSize</key>
			<string>{130,65}</string>
		</dict>
		<key>money14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1176,246},{64,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{64,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money150.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,288},{74,37}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{74,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money1500.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,190},{120,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{120,65}}</string>
			<key>sourceSize</key>
			<string>{130,65}</string>
		</dict>
		<key>money168.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,436},{74,37}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{74,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money2500.png</key>
		<dict>
			<key>frame</key>
			<string>{{1105,119},{120,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{120,65}}</string>
			<key>sourceSize</key>
			<string>{130,65}</string>
		</dict>
		<key>money268.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,236},{74,37}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{74,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money50.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,367},{66,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{66,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money75.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,368},{66,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{66,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money85.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,190},{65,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,37}}</string>
			<key>sourceSize</key>
			<string>{65,39}</string>
		</dict>
		<key>money999.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,246},{74,37}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{74,37}}</string>
			<key>sourceSize</key>
			<string>{78,39}</string>
		</dict>
		<key>money99999.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,164},{130,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,65}}</string>
			<key>sourceSize</key>
			<string>{130,65}</string>
		</dict>
		<key>pause01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1324,314},{37,38}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{37,38}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>pause02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1324,274},{37,38}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{37,38}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>pause11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1060,289},{37,38}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{37,38}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>pause12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1060,250},{37,38}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{37,38}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>point01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1336,476},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{21,25}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>point02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340,114},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{21,25}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>point03.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,2},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{21,25}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>select_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1314,400},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{38,38}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>select_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,380},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{48,48}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>select_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,333},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{48,48}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>select_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048,382},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{46,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>select_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,386},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{46,46}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_128.png</key>
		<dict>
			<key>frame</key>
			<string>{{1204,443},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_144.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,393},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_176.png</key>
		<dict>
			<key>frame</key>
			<string>{{1208,391},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_208.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,389},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_224.png</key>
		<dict>
			<key>frame</key>
			<string>{{1102,419},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_256.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,367},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_272.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,430},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_304.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,430},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_336.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048,328},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_352 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,326},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_352.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,326},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_384 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,437},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_384.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,437},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_432.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,460},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_464.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,460},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_480.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,406},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_512.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,405},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_560.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,383},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_592.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,381},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_608.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,327},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_640.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,351},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_688.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,352},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_736.png</key>
		<dict>
			<key>frame</key>
			<string>{{1272,274},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_768.png</key>
		<dict>
			<key>frame</key>
			<string>{{1294,220},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_80.png</key>
		<dict>
			<key>frame</key>
			<string>{{1294,166},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>sell_96.png</key>
		<dict>
			<key>frame</key>
			<string>{{1242,220},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>showupgrade01.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,486},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{20,24}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>showupgrade02.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,486},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{20,24}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>speed11.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,327},{66,38}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{66,38}}</string>
			<key>sourceSize</key>
			<string>{72,52}</string>
		</dict>
		<key>speed12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1060,182},{66,38}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{66,38}}</string>
			<key>sourceSize</key>
			<string>{72,52}</string>
		</dict>
		<key>speed21.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,275},{64,38}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{64,38}}</string>
			<key>sourceSize</key>
			<string>{72,52}</string>
		</dict>
		<key>speed22.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,315},{64,38}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{64,38}}</string>
			<key>sourceSize</key>
			<string>{72,52}</string>
		</dict>
		<key>targetscleard_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,235},{261,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,0},{261,58}}</string>
			<key>sourceSize</key>
			<string>{325,58}</string>
		</dict>
		<key>upgrade_-180.png</key>
		<dict>
			<key>frame</key>
			<string>{{1242,166},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_-220.png</key>
		<dict>
			<key>frame</key>
			<string>{{1286,114},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_-260.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,114},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_-320.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,339},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_-380.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,409},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_-480.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,355},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_0_CN.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,435},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{50,50}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_180.png</key>
		<dict>
			<key>frame</key>
			<string>{{1208,339},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_220.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,337},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_260.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,315},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_260_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,407},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_260_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1220,285},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_320.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,285},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_320_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,434},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_320_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,434},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_380.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,355},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_380_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,341},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_380_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,334},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>upgrade_480.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,289},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Items02-hd.png</string>
		<key>size</key>
		<string>{1363,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:235e8af9c7f98e5ab6e52bf1df862395$</string>
		<key>textureFileName</key>
		<string>Items02-hd.png</string>
	</dict>
</dict>
</plist>
