<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,240},{218,190}}</string>
                <key>offset</key>
                <string>{58,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,140},{218,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{184,224}}</string>
                <key>offset</key>
                <string>{-19,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,124},{184,224}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_1_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1302},{162,240}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,108},{162,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{270,276}}</string>
                <key>offset</key>
                <string>{36,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,58},{270,276}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{214,306}}</string>
                <key>offset</key>
                <string>{-64,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{214,306}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>1_2_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{230,300}}</string>
                <key>offset</key>
                <string>{-34,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{230,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,712},{206,150}}</string>
                <key>offset</key>
                <string>{37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,127},{206,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1728},{226,162}}</string>
                <key>offset</key>
                <string>{-37,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,125},{226,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2_1_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{236,156}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,128},{236,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,202}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{348,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,460},{250,206}}</string>
                <key>offset</key>
                <string>{-47,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,51},{250,206}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2_2_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,864},{280,204}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,61},{280,204}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{264,232}}</string>
                <key>offset</key>
                <string>{42,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,80},{264,232}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1146},{154,230}}</string>
                <key>offset</key>
                <string>{-51,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,100},{154,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3_1_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{140,248}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,87},{140,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{296,222}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,83},{296,222}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1466},{232,260}}</string>
                <key>offset</key>
                <string>{-42,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,74},{232,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>3_2_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{256,262}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,66},{256,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DemonEnemy.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88992b88a8f3ba8ae50a6bde90ae5c54:1/1$</string>
            <key>textureFileName</key>
            <string>DemonEnemy.png</string>
        </dict>
    </dict>
</plist>
